{% extends "layout.html.twig" %}

{% block title %}
    Add post
{% endblock %}

{% block main %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Ajouter un article</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <p>Créez votre nouvel article</p>
            <div class="my-5">
                <form id="addPost" data-sb-form-api-token="API_TOKEN" method="POST">
                    <div class="form-floating">
                        <input class="form-control" id="title" type="text" placeholder="Enter post title..." data-sb-validations="required" />
                        <label for="title">Titre</label>
                        <div class="invalid-feedback" data-sb-feedback="title:required">Titre du article est obligatoire</div>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" id="excerpt" type="text" placeholder="Enter post excerpt..." data-sb-validations="required" />
                        <label for="excerpt">Chapô</label>
                        <div class="invalid-feedback" data-sb-feedback="excerpt:required">Châpo du article est obligatoire</div>
                    </div>
                    <div class="form-floating">
                        <select class="form-select" id="category">
                            <option value="" disabled selected>Choissiez un catégorie</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <label for="category">Catégorie</label>
                        <div class="invalid-feedback" data-sb-feedback="excerpt:required">Châpo du article est obligatoire</div>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" id="content" placeholder="Enter post content here..." style="height: 15rem" data-sb-validations="required"></textarea>
                        <label for="content">Contenu</label>
                        <div class="invalid-feedback" data-sb-feedback="content:required">Contenu du article est obligatoire.</div>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" id="photo" type="file" data-sb-validations="required" />
                        <label for="photo">Photo</label>
                        <div class="invalid-feedback" data-sb-feedback="photo:required">Image d'en-tête du article est obligatoire</div>
                    </div>
                    <br />
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage"><div class="text-center mb-3">Votre article est enregistré!</div></div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error d'enregistrer votre article!</div></div>
                    <!-- Submit Button-->
                    <div class="text-center"><button class="btn btn-dark text-uppercase" id="submitAddButton" type="submit">Enregistrer</button></div>
                </form>
            </div>

        </div>

    </div>
</div>

{% endblock %}