{% extends "layout.html.twig" %}

{% block title %}
    Create account
{% endblock %}

{% block main %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Créer votre compte</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% if session.message is defined %}
            <div class="alert alert-{{ session.error_level}} alert-dismissible fade show" role="alert">
                {{ session.message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="unsetSessionMessage"></button>
            </div>
            {% endif %}
            <p>Commencez à créer votre compte afin d'avoir des droits d'utilisateur</p>
            <div class="my-5">
                <form id="register" data-sb-form-api-token="API_TOKEN" method="POST">
                    <div class="form-floating">
                        <input class="form-control" id="username" name="username" type="text" placeholder="Enter your username..." data-sb-validations="required" required/>
                        <label for="username">Nom d'utilisateur</label>
                        <div class="invalid-feedback" data-sb-feedback="username:required">Votre nom d'utilisateur est obligatoire</div>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" id="email" name="email" type="email" placeholder="Enter your email..." data-sb-validations="required" required/>
                        <label for="email">Email</label>
                        <div class="invalid-feedback" data-sb-feedback="email:required">Votre email est obligatoire</div>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" id="password" name="password" type="password" placeholder="Enter your password..." data-sb-validations="required" required/>
                        <label for="password">Mot de passe</label>
                        <div class="invalid-feedback" data-sb-feedback="password:required">Votre mot de passe est obligatoire</div>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" id="confirmation" name="confirmation" type="password" placeholder="Confirm your password..." data-sb-validations="required" required/>
                        <label for="confirmation">Confirmation du mot de passe</label>
                        <div class="invalid-feedback" data-sb-feedback="confirmation:required">Votre confirmation de mot de passe est obligatoire</div>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" id="image" name="image" type="file" />
                        <label for="image">Photo</label>
                    </div>
                    <br />
                    <!-- Submit Button-->
                    <div class="text-center"><button class="btn btn-dark text-uppercase" name="submitRegisterButton" type="submit">Enregistrer</button></div>
                </form>
            </div>

        </div>

    </div>
</div>

{% endblock %}